/ Modal
#documentModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "documentModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.border-0
        %h5#documentModalLabel.modal-title
          %i.bi.bi-file-richtext.me-2
          New Document
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        = form_for @folder do |f|
          .input-group.mb-3
            = f.file_field :documents, class: "form-control", "aria-describedby" => "button-document", "aria-label" => "File"
            = f.submit "Upload", class: "btn btn-primary", id: "button-document"
